html {
    background: url("../images/wallpaper.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
    
body {
    background:rgba(255,255,255,0.9);
}

h1 {
    text-align: center;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-block {
    float:none;
}

.mx-auto {
    display: block;
    width: auto;
    margin: auto;
}

.choice {
    border: 1px solid lightcoral;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.timer{
    text-align: center;
}

.js-content-section {
    text-align: center;
}